<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card class="mat-elevation-z8">
  <mat-card-title>
    <div class="row">
      <div class="col-md-2 col-xs-1">
        <span>{{resourceType}}</span>
      </div>
      <div class="col-xs-3 col-md-9">
      </div>
      <button *ngIf="canCreate" mat-raised-button color="primary" routerLink="/resources/{{resourceType}}/new">Add</button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter
          </mat-panel-title>
          <mat-panel-description>
            Specify the filter as JSON [
            <a href="https://github.com/FHIR/fhir.js/blob/master/README.md#search">Reference</a>]
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="min-padding">
          Search Parameters Supported
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let param of searchParams" matTooltip="{{param.documentation}}">
              <h4 mat-line>{{param.name}}</h4>
              <p mat-line>{{param.type}}</p>
              <div>{{param.documentation}}</div>
            </mat-list-item>
          </mat-list>
        </div>
        <ace-editor mode="text" [(text)]="queryCode" style="height:100px;" [theme]="'eclipse'"></ace-editor>
        <div class="min-padding">
          <div class="min-padding">
            <mat-tab-group animationDuration="0ms" [selectedIndex]="0" (selectedTabChange)="OnDateTabChange($event)" >
              <mat-tab label="Specific-Date">
                <input type="date" #specificDate name="specificDate">
              </mat-tab>
              <mat-tab label="Date-Range">
                <input type="date" #startdate name="startdate">
                <input type="date" #enddate name="enddate">
              </mat-tab>
            </mat-tab-group>
          </div>
          <span class="min-padding">
            <button mat-raised-button color="primary" (click)="applyFilter(specificDate.value, startdate.value, enddate.value)" *ngIf="!invalidJson">Apply</button>
          </span>
          <button mat-raised-button color="warn" (click)="reset()">Reset</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <app-resources-table *ngIf="!error" [bundle]="resources" [resourceType]="resourceType"></app-resources-table>
  </mat-card-content>
</mat-card>
<app-object-viewer *ngIf="error" title="Error" [value]="error" hideView="true"></app-object-viewer>