<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button *ngIf="isLoggedIn$ | async" mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sample SMART on FHIR Application</span>
      <span class="spacer"></span>
      <app-access-token-timer></app-access-token-timer>
      <span class="min-padding">
        <button mat-raised-button (click)="requestResponseLog.toggle();logsHidden = !logsHidden;" *ngIf="logsHidden">Show Request Response Logs</button>
        <button mat-raised-button (click)="requestResponseLog.toggle();logsHidden = !logsHidden;" *ngIf="!logsHidden">Hide Request Response Logs</button>
      </span>
      <span class="min-padding" *ngIf="isLoggedIn$ | async">
        <button mat-raised-button color="warn" *ngIf="canSwitchPatient" (click)="switchPatient();snav.toggle();">Switch Patient</button>
      </span>
      <span class="min-padding">
        <button mat-raised-button color="warn" *ngIf="isLoggedIn$ | async" (click)="logout();snav.toggle();">Signout</button>
      </span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isLoggedIn$ | async">
      <h4>Server: {{connectedServer}}</h4>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="side-nav-container">
    <mat-sidenav #snav mode="side" opened="false">
      <mat-nav-list *ngIf="isLoggedIn$ | async">
        <a routerLink="/conformance" mat-list-item>Conformance</a>
        <a routerLink="/state" mat-list-item>State</a>
        <a routerLink="/token" mat-list-item>Access Token</a>
        <a routerLink="/user-profile" mat-list-item>User Profile</a>
        <app-resources-menu></app-resources-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav #requestResponseLog opened="false" mode="side" position="end">
      <app-request-response-log></app-request-response-log>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>