<mat-tab-group>
  <mat-tab label="LIST">
    <mat-list *ngIf="bundle">
      <div>Total Number of resources on the Server:{{bundle.total}}</div>
      <div *ngIf="bundle.entry">Number of resources returned by the Query:{{bundle.entry.length}}</div>
      <div *ngIf="isCCDSResourceMenuEnabled">The result set has been filtered to show items relevant to the selected CCDS type.</div>
      <div *ngFor="let entry of bundle.entry">
        <div *ngIf="entry.resource.resourceType !== 'OperationOutcome'">
          <mat-list-item>
            <p mat-line>ID: {{entry.resource.id}} </p>
            <button mat-raised-button color="primary" routerLink="/resources/{{entry.resource.resourceType}}/{{entry.resource.id}}">View</button>
            <span *ngIf="entry.resource.content && entry.resource.content[0] && entry.resource.content[0].attachment">
              <button class="resource-table-action-button" mat-raised-button color="primary" (click)="OnDownload(entry)">Download</button>
            </span>
          </mat-list-item>
        </div>
      </div>
    </mat-list>
    <div *ngIf="bundle && bundle.total == 0">
      There are no resources of type {{resourceType}}
    </div>
  </mat-tab>
  <mat-tab label="JSON">
    <ace-editor mode="text" [text]="codeBundle" style="height:500px;" [theme]="'eclipse'"></ace-editor>
  </mat-tab>
</mat-tab-group>